<% if @stocks.count > 0 %>

<h1>Listing stocks</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.product_id %></td>
    <td><%= stock.quantity %></td>
    <td><%= link_to 'Show', stock %></td>
    <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
    <td><%= link_to 'Destroy', stock, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>

  <div class="empty_area">
    <%= image_tag "empty.jpg" %>
    <span class="empty_message">
      This place seems to be empty.. go to new and add something
    </span>
  </div>
<% end %>

<%= link_to 'New Stock', new_stock_path %>
