<% if @bill.errors.any? %>
  <div class="alert alert-block alert-error fade in">
    <button class="close" data-dismiss="alert">x</button>
    <h2 class="alert-heading"><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <% @bill.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
  </div>
<% end %>


<center><%= form_for @bill, :html => { :class => 'well form-inline'} do |f|  %>
   
  
  <div class="bill_date">
    <%= Date.today.strftime("%a, %d %b %Y") %>
  </div>


     

    <div class="bill_customer_name input-prepend long">
    <span class="add-on"><i class="icon-user"></i></span>
    <%= f.text_field :customer_name, :class =>"input-large", :id =>"customer_name", :placeholder => "Customer Name" %>
  </div>
     <div class="bill_customer_phoneno input-prepend long">
    <span class="add-on"><%= image_tag "small-phone.png"%></span>
    <%= f.autocomplete_field :customer_phoneno, autocomplete_customer_phoneno_customers_path, :update_elements => { :name => "#customer_name", :balance => "#customer_dues",:address =>"#customer_address" }, :placeholder => "Customer Cell", :class => "input-large" %>
  </div>
<div class="input-prepend">
    <span class="add-on">Rs.</span>
        <%= f.text_field :customer_dues, :placeholder => "Dues", :class => "input-small dues_input" , :id =>"customer_dues"%>
   </div>
<div class="bill_code">
    <%= generate_bill_code %>
    <%= f.hidden_field :code, :value => generate_bill_code %>
  </div>
  


</br></br>
<div class="bill_customer_address input-prepend long">
    <span class="add-on"><i class="icon-home"></i></span>
    <%= f.text_area :customer_address, :class =>"input-large", :id =>"bill_customer_address", :placeholder => "Customer Address" %>
  </div>


  
  
    <div class="well items_area">
    <ul class="item_headers_group">
      <li class="item_header">Product Code</li>
      <li class="item_header">Product Details</li>
      <li class="item_header" id="prod_len">Length</li>
      <li class="item_header">Quantity</li>
      <li class="item_header">Volume</li>
      <li class="item_header">Rate</li>
      <li class="item_header">Amount</li>
    </ul>
    
     <%= f.fields_for :items do |fi| %>
     <%= render 'item_fields', :f => fi %>
    <% end %>
     
  </div>
  <div class="btn dontprint">
    <%# render 'add_new_item', :f => f, :items => :items %>
    <%# link_to_add_fields 'Add new',f,:items%>   

  </div>
  <div class="bill_final_inputs">
    <div class="total_amount">
       
      <div class="input-append">
         
        <%= f.text_field :total_cft, :placeholder => "Volume", :class => "input-small",:id =>"bill_volume" %>
      <span class="add-on">cft</span>
       </div>
             
      <div class="input-append">
         
        <%= text_field_tag :planecharge,nil, :placeholder => "P.Charges", :class => "input-small",:id =>"bill_plane" %>
      <span class="add-on">Rs.</span>
       </div>

       <div class="input-append">

      <%= f.text_field :vatamt, :placeholder => "Vat %", :class => "input-small",:id =>"bill_vat" %>
       <span class="add-on">%</span>      
      </div>
       <div class="input-append">

      <%= f.text_field :discount,:placeholder =>"Discount", :class => "input-small bill_discount", :id =>   	 	"bill_discount"  %> 
         <span class="add-on">Rs.</span>
      </div>
 

      
      

         
       <div class="input-append">

    <%= f.text_field :advance, :placeholder => "Advance", :class => "input-small advance_input",:id =>"bill_advance" %>
    <span class="add-on">Rs.</span>
      </div>
    </div>
     
    
      
    <div class="subalign">    
<div class="input-append">
         <%= f.text_field :gross, :placeholder => "Gross Amount", :class => "input-small bill_gross",:id =>"bill_gross" %>
    <span class="add-on">Rs.</span>
      </div>
      <div class="input-append">
         
        <%= f.text_field :planecharge, :placeholder => "P.Amount", :class => "input-small",:id =>"bill_plane_amt" %>
      <span class="add-on">Rs.</span>
       </div>
      <div class="input-append">

    <%= f.text_field :net, :placeholder => "Net Amt", :class => "input-small bill_net",:id =>"bill_net" %>
    <span class="add-on">Rs.</span>
     </div>

     <div class="input-append">

    <%= f.text_field :amount, :placeholder => "Total Amt", :class => "input-small bill_total",:id =>"bill_total" %>
    <span class="add-on">Rs.</span>
     </div>

    <div class="input-append">

    <%= f.text_field :balance, :placeholder => "Balance", :class => "input-small bill_balance",:id =>"bill_balance" %>
    <span class="add-on">Rs.</span>
     </div>

     
 
        
    </div>
   
</div>

       

    </br>
    </br>

       
    
    
  
   
    </br>
    </br>


    
   
  
   <div class="bill_buttons"> 
    <%= submit_tag "Save", :class => "btn-primary dontprint" %>
  </div>
</br></br>


</div>
<% end %>
</center>
