<% rand_number = rand(100000).to_s %>
<% if @bill.errors.any? %>
  <div class="alert alert-block alert-error fade in">
    <button class="close" data-dismiss="alert">x</button>
    <h2 class="alert-heading"><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <% @bill.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
  </div>
<% end %>


<center><%= form_for @bill, :html => { :class => 'well form-inline'} do |f|  %>
   
  
  <div class="bill_date">
    <%= Date.today.strftime("%a, %d %b %Y") %>
  </div>


     

    <div class="bill_customer_name input-prepend long">
    <span class="add-on" id="cus_name"><i class="icon-user"></i></span>
    <%= f.text_field :customer_name, :class =>"input-large", :id =>"customer_name", :placeholder => "Customer Name" %>
  </div>
     <div class="bill_customer_phoneno input-prepend long">
    <span class="add-on" id="phone_no"><%= image_tag "small-phone.png",:id=>"cu_phone"%></span>
    <%= f.autocomplete_field :customer_phoneno, autocomplete_customer_phoneno_customers_path, :update_elements => { :name => "#customer_name", :balance => "#customer_dues",:address =>"#bill_customer_address" }, :placeholder => "Customer Cell", :class => "input-large" %>
  </div>
<div class="bill_outs input-prepend">
    <span class="add-on" id="cus_due">Rs.</span>
        <%= f.text_field :customer_dues, :placeholder => "Dues", :class => "input-small dues_input" , :id =>"customer_dues"%>
   </div>
<div class="bill_code">
    <%= generate_bill_code %>
    <%= f.hidden_field :code, :value => generate_bill_code %>
  </div>
  


</br></br>
<div class="bill_customer_address input-prepend long">
    <span class="add-on" id="cus_addre"><i class="icon-home"></i></span>
    <%= f.text_area :customer_address, :class =>"input-large", :id =>"bill_customer_address", :placeholder => "Customer Address" %>
  </div>


  
  
    <div class="well items_area">
    <ul class="item_headers_group">
      <li class="item_header">Product Code</li>
      <li class="item_header">Product Details</li>
      <li class="item_header" id="prod_len">Length</li>
      <li class="item_header">Quantity</li>
      <li class="item_header">Dimension</li>
      <li class="item_header">Rate</li>
      <li class="item_header">Amount</li>
    </ul>
    
     <%= f.fields_for :items do |fi| %>
     <%= render 'item_fields', :f => fi %>
    <% end %>
     
  </div>
  <div class="btn dontprint hidden">
    <%# render 'add_new_item', :f => f, :items => :items %>
    <%# link_to_add_fields 'Add new',f,:items%>   

  </div>
  <div class="bill_final_inputs">

    <div class="total_dim">
      <div class="input-append">
         
        <%= f.text_field :total_ft, :placeholder => "Length", :class => "input-small",:id =>"bill_len",:readonly => "true"  %>
      <span class="add-on">ft</span>
       </div>
      <div class="input-append">
         
        <%= f.text_field :total_sqft, :placeholder => "Area", :class => "input-small",:id =>"bill_area",:readonly => "true"  %>
      <span class="add-on">sft</span>
       </div>
      
       
      <div class="input-append">
         
        <%= f.text_field :total_cft, :placeholder => "Volume", :class => "input-small",:id =>"bill_volume",:readonly => "true"  %>
      <span class="add-on">cft</span>
       </div>
             

    </div>
    <div class="total_amount">
<span class="firstrow">
            <div class="input-append">
         
        <%= text_field_tag :planecharge,nil, :placeholder => "P.Charges", :class => "input-small",:id =>"bill_plane" %>
      <span class="add-on">Rs.</span>
       </div>

       <div class="input-append">

      <%= f.text_field :vatamt, :placeholder => "Vat %", :class => "input-small",:id =>"bill_vat" %>
       <span class="add-on">%</span>      
      </div>
       <div class="input-append">

      <%= f.text_field :discount,:placeholder =>"Discount", :class => "input-small bill_discount", :id =>   	 	"bill_discount"  %> 
         <span class="add-on">Rs.</span>
      </div>
<div class="input-append">

    <%= f.text_field :advance, :placeholder => "Advance", :class => "input-small advance_input",:id =>"bill_advance" %>
    <span class="add-on">Rs.</span>
      </div>
    </div>
     
 
</span>
      
      

         
       
    
      
    <div class="subalign">    
<div class="input-append">
         <%= f.text_field :gross, :placeholder => "Gross Amount", :class => "input-small bill_gross",:id =>"bill_gross",:readonly => "true"  %>
    <span class="add-on">Rs.</span>
      </div>
      <div class="input-append">
         
        <%= f.text_field :planecharge, :placeholder => "P.Amount", :class => "input-small",:id =>"bill_plane_amt",:readonly => "true"  %>
      <span class="add-on">Rs.</span>
       </div>
      <div class="input-append">

    <%= f.text_field :net, :placeholder => "Net Amt", :class => "input-small bill_net",:id =>"bill_net",:readonly => "true"  %>
    <span class="add-on">Rs.</span>
     </div>

     <div class="input-append">

    <%= f.text_field :amount, :placeholder => "Total Amt", :class => "input-small bill_total",:id =>"bill_total" ,:readonly => "true" %>
    <span class="add-on">Rs.</span>
     </div>

    <div class="input-append">

    <%= f.text_field :balance, :placeholder => "Balance", :class => "input-small bill_balance",:id =>"bill_balance" ,:readonly => "true" %>
    <span class="add-on">Rs.</span>
     </div>

     
 
        
    </div>
   
</div>

       

    </br>
    </br>

       
    
    
  
   
    </br>
    </br>


    
   
  
   <div class="bill_buttons"> 
    <%= submit_tag "Save", :class => "btn-primary dontprint",:id => "btn-save" %>
  </div>
</br></br>


</div>
<% end %>
</center>
</div>


 <div class="accordion" id="accordion2">
 <div class="panel">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"   href="#collapseOne">
                  Category 1
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
             <%= @uniqs1.each_with_index do |name,index| %>
              
          <div class="accordion" id=<%= name %> data="<%= name %>" >

           <div class="accordion-group">
            <div class="accordion-heading">
             <a class="accordion-toggle" data-toggle="collapse" data-parent= <%= name %>  href="#<%= index %>">
                 <%= name.to_s %>
                </a>
              </div>
              <ul id=<%= index %> class="accordion-body collapse">
              
               <% @all=Product.find(:all,:conditions => ['name LIKE ?',name+'%' ] )
                  @all.each do |item|
                   @size=item.size1.to_s.concat('X').concat(item.size2.to_s)
                   @code=item.code 
                   @size1=item.size1.to_s
                   @size2=item.size2.to_s
                   @metric=item.category.to_s
                   
               %>                  
                <li class="accordion-inner"code="<%= @code %>" size1="<%= @size1 %>" size2="<%= @size2 %>" metric="<%= @metric %>" >
                  
                  <%= @size %>
                  
                </li>
                  
               <% end %> 
	     
              </ul>
            </div>
           </div> 
       <% end %>
      </div>
      </div>
      </div>
      <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseB">
                  Category 2
                </a>
              </div>
              <div id="collapseB" class="accordion-body collapse">
                <div class="accordion-inner">
             <%= @uniqs2.each_with_index do |name,index| %>
              
          <div class="accordion" id=<%= name %> data="<%= name %>">

           <div class="accordion-group">
            <div class="accordion-heading">
             <a class="accordion-toggle" data-toggle="collapse" data-parent= <%= name %>  href="#<%= (index+1)*10 %>">
                  <%= name %>  	
                  </a>
              </div>
              <ul id=<%= (index+1)*10 %> class="accordion-body collapse">
             <% @all=Product.find(:all,:conditions => ['name LIKE ? and category=2',name+'%' ] )
                  @all.each do |item|
                   @size=item.size1.to_s.concat('X').concat(item.size2.to_s)
                   @code=item.code 
                   @size1=item.size1.to_s
                   @size2=item.size2.to_s
                   @metric=item.category.to_s
               %>        
		 
               
                  
                <li class="accordion-inner"code="<%= @code %>" size1="<%= @size1 %>" size2="<%= @size2 %>" metric="<%= @metric %>">
                  
                  <%= @size %>
                  
                </li>
                  
               <% end %> 
              </ul>
            </div>
           </div> 
       <% end %>
      </div>
      </div>
      </div>

       <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseC">
                  Category 3
                </a>
              </div>
              <div id="collapseC" class="accordion-body collapse">
                <div class="accordion-inner">
             <%= @uniqs3.each_with_index do |name,index| %>
              
          <div class="accordion" id=<%= name %> data="<%= name %>" >

           <div class="accordion-group">
            <div class="accordion-heading">
             <a class="accordion-toggle" data-toggle="collapse" data-parent= <%= name %>  href="#<%= (index+1)*101 %>">
                  <%= name %>
                </a>
              </div>
              <ul id=<%= (index+1)*101 %> class="accordion-body collapse">
               <% @all=Product.find(:all,:conditions => ['name LIKE ?',name+'%' ] )
                  @all.each do |item|
                   @size=item.size1.to_s.concat('X').concat(item.size2.to_s)
                   @code=item.code 
                   @size1=item.size1.to_s
                   @size2=item.size2.to_s
                   @metric=item.category.to_s
               %>      
		 
               
                  
                <li class="accordion-inner" code="<%= @code %>" size1="<%= @size1 %>" size2="<%= @size2 %>" metric="<%= @metric %>">
                  
                  <%= @size %>
                  
                </li>
                  
               <% end %> 
              </ul>
            </div>
           </div> 
       <% end %>
      </div>
      </div>
<div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseD">
                  Category 4
                </a>
              </div>
              <div id="collapseD" class="accordion-body collapse">
                <div class="accordion-inner">
             <%= @uniqs4.each_with_index do |name,index| %>
              
          <div class="accordion" id=<%= name %> data="<%= name %>">

           <div class="accordion-group">
            <div class="accordion-heading">
             <a class="accordion-toggle" data-toggle="collapse" data-parent= <%= name %>  href="#<%= (1+index)*1000 %>">
                  <%= name %>
                </a>
              </div>
              <ul id=<%= (1+index)*1000 %> class="accordion-body collapse">
               <% @all=Product.find(:all,:conditions => ['name LIKE ?',name+'%' ] )
                  @all.each do |item|
                   @size=item.size1.to_s.concat('X').concat(item.size2.to_s)
                   @code=item.code 
                   @size1=item.size1.to_s
                   @size2=item.size2.to_s
                   @metric=item.category.to_s
               %>                   
		 
               
                  
                <li class="accordion-inner" code="<%= @code %>" size1="<%= @size1 %>" size2="<%= @size2 %>" metric="<%= @metric %>">
                  
                  <%= @size %>
                  
                </li>
                  
               <% end %> 
 
              </ul>
            </div>
           </div> 
       <% end %>
      </div>
      </div>
         
          </div>

</div>


</div>

<a class="trigger" href="#">Categories</a>
