<center><%= form_for @bill, :html => { :class => 'well form-inline'} do |f|  %>
   
  
  <div class="bill_date">
    <%= Date.today.strftime("%a, %d %b %Y") %>
  </div>


  <div class="bill_customer_phoneno">
    <%= f.autocomplete_field :customer_phoneno, autocomplete_customer_phoneno_customers_path, :update_elements => { :name => "#customer_name", :balance => "#customer_dues" }, :placeholder => "Customer Phoneno", :class => "input-small dontprint" %>
  </div>

  <div class="bill_customer_name">
    <%= f.text_field :customer_name, :class =>"input-small", :id =>"customer_name" %>
  </div>

  <div class="bill_code">
    <%= generate_bill_code %>
    <%= f.hidden_field :code, :value => generate_bill_code %>
  </div>
  </br>
  <div class="well items_area">
    <%= f.fields_for :items do |fi| %>
     <%= render 'item_fields', :f => fi %>
    <% end %>
     
  </div>
  <div class="btn dontprint"><%= link_to_add_fields 'Add new',f,:items %>   </div>
  <div class="bill_final_inputs">
    <div class="total_amount">
       
      
             
      <div class="input-prepend">
         <span class="add-on WebRupee Plane">Rs.</span>
        <%= f.text_field :planecharge, :placeholder => "Plane Charges", :class => "input-small",:id =>"bill_plane" %>
       </div>

       <div class="input-prepend">
       <span class="add-on Vat Percent">%</span>
      <%= f.text_field :vatamt, :placeholder => "Vat %", :class => "input-small",:id =>"bill_vat" %></div>
      
         
       <div class="input-prepend">
         <span class="add-on WebRupee Discount">Rs.</span>
      <%= f.text_field :discount,:placeholder =>"Discount", :class => "input-small bill_discount", :id =>   	 	"bill_discount"  %> 
      </div>

       

      <div class="input-prepend">
         <span class="add-on WebRupee Gross">Rs.</span>
         <%= f.text_field :amount, :placeholder => "Gross Amount", :class => "input-small",:id =>"bill_gross" %>
      </div>
      

         
       <div class="input-prepend">
    <span class="add-on WebRupee Advance">Rs.</span>
    <%= f.text_field :advance, :placeholder => "Advance", :class => "input-small advance_input",:id =>"bill_advance" %>
      </div>
    </div>
     
    
      
    <div class="subalign">    
      <div class="input-prepend">
    <span class="add-on WebRupee Net">Rs.</span>
    <%= f.text_field :net, :placeholder => "Net Amt", :class => "input-small net_input",:id =>"bill_net" %>
     </div>

     <div class="input-prepend">
    <span class="add-on WebRupee Total">Rs.</span>
    <%= f.text_field :net, :placeholder => "Total Amt", :class => "input-small tot_input",:id =>"bill_total" %>
     </div>

    <div class="input-prepend">
     <span class="add-on WebRupee Balance">Rs.</span>
    <%= f.text_field :balance, :placeholder => "Balance", :class => "input-small balance_input",:id =>"bill_balance" %>
     </div>

     <div class="input-prepend">
    <span class="add-on WebRupee Outs">Rs.</span>
        <%= f.text_field :customer_dues, :placeholder => "Dues", :class => "input-small dues_input" , :id =>"customer_dues"%>
   </div>
 
        
    </div>
   
</div>

       

    </br>
    </br>

       
    
    
  
   
    </br>
    </br>


    
   
  
   <div class="bill_buttons"> 
    <%= submit_tag "Save", :class => "btn-primary dontprint" %>
  </div>
</br></br>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <ul>
        <% @bill.errors.full_messages.each do |msg| %>
          <li ><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
<% end %>



</center>
