<% if @customers.count > 0 %>

<%= link_to "Today Customers", customers_path(:from_date => (Time.zone.today - 1), :to_date => Time.zone.today)%> 
<%= link_to "All", customers_path %>
<%= form_tag customers_path, :method => 'get', :id => "customers_search_form", :class => "search_box" do %>


<div class="row-fluid">
  <div class="span4">
    <%= text_field_tag :search, params[:search], :placeholder => "Royal Search", :id => "customers_search_box", :class => "search_field" %>
  </div>
  <div class="span6 pull-right">
    <div class="btn-group pull-right" data-toggle="buttons-radio"> 
      <%= link_to "All", customers_path, :class=>"btn", :remote => true %>
      <%= link_to "Today", customers_path(:from_date => (Time.zone.today - 1), :to_date => Time.zone.today), :class => "btn", :remote => true %> 
      <%= link_to "Yesterday", customers_path(:from_date => (Time.zone.today - 2), :to_date => Time.zone.today - 1), :class => "btn", :remote => true %> 
      <%= link_to "Week", customers_path(:from_date => (Time.zone.today.at_beginning_of_week), :to_date => Time.zone.today.at_end_of_week), :class => "btn", :remote => true %> 
      <%= link_to "Month", customers_path(:from_date => (Time.zone.today.at_beginning_of_month), :to_date => Time.zone.today.at_end_of_month), :class => "btn", :remote => true %> 
    </div>
  </div>
  <div class="span2 last">
    <%= link_to 'New Bill', new_bill_path , :class => "btn btn-primary pull-right" %>
  </div>
 <% end %>
</div>


<h1>Listing customers</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phoneno</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.address %></td>
    <td><%= customer.phoneno %></td>
    <td><%= customer.email %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= paginate @customers %>
<br />

<% else %>

  <div class="empty_area">
    <%= image_tag "empty.jpg" %>
    <span class="empty_message">
      This place seems to be empty.. go to new and add something
    </span>
  </div>
<% end %>



