<% if @customers.count > 0 %>

<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phoneno</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.address %></td>
    <td><%= customer.phoneno %></td>
    <td><%= customer.email %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>

  <div class="empty_area">
    <%= image_tag "empty.jpg" %>
    <span class="empty_message">
      This place seems to be empty.. go to new and add something
    </span>
  </div>
<% end %>

<%= link_to 'New Customer', new_customer_path %>

