
 <%= form_for @product, :html => { :class => 'well form-inline'} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div align="center" class="product_inputs">
    <%= f.text_field :name, :placeholder => "Product Name", :class => "input-small" %>
 
    <%= f.text_field :size, :placeholder => "Size", :class => "input-small" %>

    <%= f.text_field :code, :placeholder => "Code", :class => "input-small" %>
    
    <%= f.select :category, options_for_select([["Type-Wood", "0"], ["Type-Plywood","1"],["Type-Bedding","2"]]), { :selected => "mm" }, { :id => "select_category" } %>
   </div> 
  </br></br>  </br></br>
  <div class="actions">
    
<%= link_to 'Back', products_path, :class => "btn info" %>
<%= f.submit 'Create', :class => "btn-primary" %>
  </div>

<% end %>

